<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>This is About page</h1>
    <hr />

    <!--  using fragment  -->
      <div class ="host-tag" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test}">
        <section>
            <h1>User is loged in</h1>
            <h2>Dynamic Content</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique libero ipsa maiores! Nobis reiciendis, eveniet 
                soluta sapiente eos recusandae ducimus.</p>
        </section>
      </div>
    
</body>
</html>