<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <!-- <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>
<body>
    <div id ="content">
      <h1>WELCOME TO Contact PAGE</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, quasi.</p>
    </div>

    <script>
      console.log("contact page");
    </script>
    <script>
      console.log("second contact page");
    </script>
</body>
</html>