<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Signup Page
    </title>
    <!-- <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
</head>
<body>
    <div id ="content">
      <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4 ">
        <!-- <div class="col-auto flex col-end-6"></div> -->
        <!-- <div class="col-span-4 md:col-span-8"> -->
          <!-- Cards -->
          <div class="block p-6 border-t-[10px] border-green-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-green-700 dark:hover:bg-gray-700">

            <!-- message here -->
            <div data-th-replace="message::messagebox"></div>

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              Signup Here
            </h5>
            <p class="px-1">Start managing contacts on cloud...</p>
          
            <!-- This is form -->

            <form data-th-action="@{'/do-register'}" method="post" 
              data-th-object="${userForm}" class="mt-5" novalidate>

              <!-- name -->
              <div class="mb-3">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Name
                </label>
                <input 
                type="text" 
                id="name" 
                th:field="*{name}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Enter Here" 
                required />
                <p 
                data-th-if="${#fields.hasErrors('name')}"
                data-th-errors="*{name}"
                 class="text-red-600 px-2 py-2">Name is Required</p>
              </div>

              <!-- E-mail -->
              <div class="mb-3">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" id="email" th:field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@gmail.com" required />
                <p 
                data-th-if="${#fields.hasErrors('email')}"
                data-th-errors="*{email}"
                 class="text-red-600 px-2 py-2"></p>
              </div>

              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input type="password" id="password" th:field="*{password}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Required" required />
                <p 
                data-th-if="${#fields.hasErrors('password')}"
                data-th-errors="*{password}"
                 class="text-red-600 px-2 py-2"></p>
              </div>

              <!-- Phone -->
              <div class="mb-3">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contect Number</label>
                <input type="text" id="phone" th:field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="eg-123.." required />
                <p 
                data-th-if="${#fields.hasErrors('phoneNumber')}"
                data-th-errors="*{phoneNumber}"
                 class="text-red-600 px-2 py-2"></p>
              </div>

              <!-- About -->
              <div class="mb-3">
                <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write something about yourself</label>
                <textarea id="about" rows="5" th:field="*{about}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="write here" required ></textarea>
                <p 
                data-th-if="${#fields.hasErrors('about')}"
                data-th-errors="*{about}"
                 class="text-red-600 px-2 py-2"></p>
              </div>

              <!-- Button -->
              <div class="mb-3 flex justify-center space-x-3">
                <button type="submit" class="px-3 py-2 rounded bg-gray-800 text-white dark:bg-blue-900 dark:hover:bg-blue-800 hover:bg-gray-900">
                  Singup
                </button>
                <button type="reset" class="px-3 py-2 rounded bg-green-800 text-white dark:bg-green-900 dark:hover:bg-green-800 hover:bg-green-900">
                  Reset
                </button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>

    <script>
      console.log("Signup page");
    </script>
    
</body>
</html>