<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is services Page</h1>

      <!-- using fragment -->
    <div class ="host-tag" th:replace="~{base :: parent(~{::.third_content})}">
        <section id="main_content">
            <h1>This is Dynamic services passed to base parent</h1>
        </section>
        <section id="m_content">
            <h1>This is Dynamic </h1>
        </section>

        <section class="third_content">
            <h1>This is Dynamic Third</h1>
        </section> 
    </div>
</body>
</html>